/* This is for the general layout */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behaviour:smooth;
}

body {
	width: 100%;
	min-height: 100vh;
	background-color: #282828;
	color: #d5c4a1;
	font-family: 'Courier new', Courier, monospace;
	font-size: 2.5rem;
}

/* This is for Transitions */

a,
.button {
	transition: all 300ms ease;
}

/* For Navigation on Desktop Devices*/

nav,
.links {
	display: flex;
}

nav {
	justify-content: space-around;
	align-items: center;
	height: 17vh;
}

.links{
	gap: 2rem;
	list-style: none;
	font-size: 2rem;
}

a {
	color: #d5c4a1;
	text-decoration: none;
	text-decoration-color: white;
}

a:hover {
	color: #f9f5d7;
	text-decoration-color: #f9f5d7;
	text-decoration: underline;
	text-underline-offset: 1rem;
}

.logo:hover {
	cursor: default;
}