/* This css is for the general layout */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior:smooth;
}

body {
	width: 100%;
	min-height: 100vh;
	background-color: #282828;
	color: #ebdbb2;
	font-family: 'Courier new', Courier, monospace;
}

/* This css is for Transitions */

a {
	transition: all 300ms ease;
}

/* This css is for Navigation on Desktop Devices*/

nav,
.nav-links {
	display: flex;
}

nav {
	margin-left: 50px;
	margin-right: 50px;
	justify-content: space-between;
	align-items: center;
	height: 14vh;
	border-bottom: 2px solid #ebdbb2;
}

.nav-links{
	gap: 2rem;
	list-style: none;
	font-size: 2rem;
}

a {
	text-decoration: none;
	text-decoration-color: white;
}

a:hover {
	color: #f9f5d7;
	text-decoration-color: #f9f5d7;
	text-decoration: underline;
	text-underline-offset: 1rem;
}

#desktop-logo {
	margin-top: 5px;
}

#desktop-logo:hover {
	cursor: default;
}

.index {
	color: #ebdbb2;
}

.project {
	color: #fabd2f;
}

.contact {
	color: #83a598;
}

.videoDemo {
	color: #d3869b;
}

.sitereport {
	color: #8ec07c;
}

/* This css is for hamburger menu */

#hamburger-nav {
	display: none;
}

.hamburger-menu {
	position: relative;
	display: inline-block;
}

.hamburger-icon {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 24px;
	width: 30px;
}

.hamburger-icon span {
	width: 100%;
	height: 2px;
	background-color: #ebdbb2;
	transition: all 0.3 ease-in-out;
}

.menu-links {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #282828;
	width: fit-content;
	max-height: 0;
	overflow: hidden;
	transition: all 0.3 ease-in-out;	
}

.menu-links a {
	display: block;
	padding:10px;
	text-align: center;
	font-size: 1.2rem;
	text-decoration: none;
	transition: all 0.3 ease-in-out;
}

.menu-links li {
	list-style: none;
}

.menu-links.open {
	max-height: 300px;
}

.hamburger-icon.open span:first-child {
	transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
	opacity: 0;
}

.hamburger-icon.open span:last-child {
	transform: rotate(-45deg) translate(10px, -6px);
}

.hamburger-icon span:first-child {
	transform: none;
	opacity: 1s;
}

.hamburger-icon:focus,
.hamburger-icon:active {
    outline: none;
	border: none;
}

/* This css is for sections */

section {
	padding-top: 4vh;
	height: 96vh;
	margin: 0 10rem;
	min-height: fit-content;
	display: flex;
}

/* This css is for profile section */

 #profile {
	justify-content: center;
	gap: 5rem;
	height: 80vh;
}

 .section-pic {
	display: flex;
	height: 400px;
	width: 400px;
	margin: auto 0;
	border: 5px dashed #ebdbb2;
	border-radius: 50%;
	padding: 5px;
}

.section-text {
	align-self: center;
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.section-text p {
	font-weight: 600;
}

.section-text-1 {
	font-size: 1.75rem;
	margin-bottom: 1rem;
}

.section-text-2 {
	font-size: 1.75rem;
	margin-top: 1rem;
}

.title {
	font-size: 3rem;
	text-align: center;
}

#socials {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
	gap: 1rem;	
}

.icon {
	cursor: pointer;
	height: 3rem;
}

/* This  is for about me section on the homepage */

#about {
	padding: 60px;
	font-weight: 600;
	font-size: 2rem;
}

.content {
    margin: 0 auto;
    text-align: center;
}

.about-heading {
    margin-bottom: 20px;
}

.about-paragraph-1 {
    text-align: left;
	font-size: 1.5rem;
	font-weight: 400;
}

.about-paragraph-2 {
	margin-top: 1rem;
    text-align: left;
	font-size: 1.5rem;
	font-weight: 400;
}

.about-paragraph-3 {
	margin-top: 1rem;
    text-align: left;
	font-size: 1.5rem;
	font-weight: 400;
}

.about-paragraph-4 {
	margin-top: 1rem;
    text-align: left;
	font-size: 1.5rem;
	font-weight: 400;
}

/* This css is for project */

.grid-container {
    display: grid;
    grid-template-columns: 26.25rem 26.25rem 26.25rem;
    grid-template-rows: 25rem 25rem;
    gap: 10rem;
	row-gap: 20rem;
	margin-top: 10rem;
	cursor: pointer;
	justify-content: center;
    align-items: center;
	margin-bottom: 35rem;
	margin-left: 10rem;
	margin-right: 10rem;
}

.grid-item img {
    width: 100%;
    height: auto;
}

.grid-item {
	text-align: center;
	font-size: 2rem;
	color: #fabd2f;
	padding: 10px;
	font-weight: bold;
	border: 5px dashed #ebdbb2;
	border-radius: 10px;
}

.grid-item p {
	padding-top: 30px;
	padding-bottom: 30px;
}

.empty {
	border: 0px;
}
/* This css is for Contact */

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
	color: #83a598;
	text-align: center;
	margin-bottom: 10rem;
}

#contact h1 {
    font-size: 2.5rem;
	margin-top: 3rem;
    margin-bottom: 1rem;
}

#contact-info {
	margin: 0 10px;
	display: flex;
	gap: 3rem;
}

.c-icon {
	height: 2rem;
}

/* This css is for form */

form {
	margin-top: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 1rem;
    border: 3px solid #83a598;
    border-radius: 5px;
    background-color: #f9f5d7;
    color: #83a598;
	font-size: 1.5rem;
	font-weight: bold;
}

button {
    padding: 1rem 3rem;
    border: 3px solid #83a598;
    border-radius: 10px;
    background-color: #282828;
    color: #83a598;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 500ms ease;
}

button:hover {
    background-color: #83a598;
	color: #282828;
}

/* This css is for Mediaqueries */

@media screen and (max-width:500px) {
	#desktop-nav {
		display:none;
	}

	#hamburger-nav {
		display:flex;
		height: 100px;
		border-bottom: 2px solid #ebdbb2;
	}

	#mobile-logo {
		height: 80px;
	}


}